@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
  @apply w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-lg transition;
}
